<button
  class="mobile"
  mat-icon-button
  aria-label="Menu icon"
  (click)="toggleMenu()"
  *ngIf="isMobile"
>
  <mat-icon>menu</mat-icon>
</button>
<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <button
      class="desktop"
      mat-icon-button
      aria-label="Menu icon"
      (click)="toggleMenu()"
      *ngIf="!isMobile"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list>
      <!-- <a
        class="nav-list-item"
        matTooltip="Inicio"
        matTooltipPosition="right"
        [matTooltipDisabled]="!isCollapsed"
      >
        <mat-icon>home</mat-icon>
        <span *ngIf="!isCollapsed">Inicio</span>
      </a> -->
      <a
        routerLink="/users"
        routerLinkActive="active-route"
        class="nav-list-item"
        matTooltip="Usuarios"
        matTooltipPosition="right"
        [matTooltipDisabled]="!isCollapsed"
      >
        <mat-icon>people_outline</mat-icon>
        <span *ngIf="!isCollapsed">Usuarios</span>
      </a>
      <a
        class="nav-list-item"
        matTooltip="Facturación"
        matTooltipPosition="right"
        [matTooltipDisabled]="!isCollapsed"
      >
        <mat-icon>list_alt</mat-icon>
        <span *ngIf="!isCollapsed">Facturación</span>
      </a>
      <a
        class="nav-list-item"
        matTooltip="Servicios"
        matTooltipPosition="right"
        [matTooltipDisabled]="!isCollapsed"
      >
        <mat-icon>apps</mat-icon>
        <span *ngIf="!isCollapsed">Servicios</span>
      </a>
      <a
        class="nav-list-item"
        matTooltip="Etiquetas"
        matTooltipPosition="right"
        [matTooltipDisabled]="!isCollapsed"
      >
        <mat-icon>bookmark_border</mat-icon>
        <span *ngIf="!isCollapsed">Etiquetas</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
