@import "../../themes.scss";

mat-sidenav-container {
    height:100%;
}

button {
    color: $color-soft-white;
    line-height: 1;

    &.mobile {
        position: absolute;
        z-index: 3;
        background-color: $color-teal-blue;
        width: fit-content;
        margin: 0.45rem 2rem;
    }

    &.desktop {
        margin: 0.90rem 1.20rem;
    }
}
mat-sidenav {
    @extend .gradient-background;
    width: fit-content;
    padding: 0 0.85rem;
    @media screen and (max-width: 1300px) {
        padding-top: 4rem;
    }

    a.nav-list-item.active-route {
        color: $color-midnight-blue;
        background-color: $color-soft-white;

        mat-icon {
            color: $color-midnight-blue;
        }

        &hover {
            color: $color-midnight-blue;
            mat-icon {
                color: $color-midnight-blue;
            }
        }
    }

    .nav-list-item {
        @extend .default-border-radius;
        color: $color-soft-white;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding:0.75rem 1.15rem;
        margin: 0.45rem;
        cursor: pointer;
        
        mat-icon {
            color: $color-soft-white;
            font-size: 2rem;
            width: fit-content;
        }
        span {
            margin-left: 1.15rem;
        }
        
        &:hover{
            color: $color-teal-blue;
            background-color: $color-soft-white;
            
            mat-icon {
                color: $color-teal-blue;
            }
        }

    }
  }

mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 5rem;
    }
}