<mat-toolbar *ngIf="isMobile">
  <button
    class="mobile"
    mat-icon-button
    aria-label="Menu icon"
    (click)="toggleMenu()"
  >
    <mat-icon>apps</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container autosize>
  <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <button
      class="desktop"
      mat-icon-button
      aria-label="Menu icon"
      (click)="toggleMenu()"
      *ngIf="!isMobile"
    >
      <mat-icon> apps </mat-icon>
    </button>
    <mat-nav-list>
      <section>
        <a
          routerLink="/users"
          routerLinkActive="active-route"
          class="nav-list-item"
          matTooltip="Clientes"
          matTooltipPosition="right"
          [matTooltipDisabled]="!isCollapsed"
        >
          <mat-icon>groups</mat-icon>
          <span *ngIf="!isCollapsed">Clientes</span>
        </a>
        <a
          class="nav-list-item"
          matTooltip="Facturación"
          matTooltipPosition="right"
          [matTooltipDisabled]="!isCollapsed"
        >
          <mat-icon>receipt_long</mat-icon>
          <span *ngIf="!isCollapsed">Facturación</span>
        </a>
        <a
          class="nav-list-item"
          matTooltip="Servicios"
          matTooltipPosition="right"
          [matTooltipDisabled]="!isCollapsed"
        >
          <mat-icon>workspaces</mat-icon>
          <span *ngIf="!isCollapsed">Servicios</span>
        </a>
        <a
          class="nav-list-item"
          matTooltip="Agenda"
          matTooltipPosition="right"
          [matTooltipDisabled]="!isCollapsed"
        >
          <mat-icon>calendar_month</mat-icon>
          <span *ngIf="!isCollapsed">Agenda</span>
        </a>
      </section>
      <a
        class="nav-list-item last-item"
        matTooltip="Salir"
        matTooltipPosition="right"
        [matTooltipDisabled]="!isCollapsed"
        (click)="logout()"
      >
        <mat-icon>
          <span class="material-symbols-outlined"> power_settings_circle </span>
        </mat-icon>
        <span *ngIf="!isCollapsed">Salir</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
