<section [formGroup]="form" class="py-4">
  <div *ngFor="let field of formFields" class="mx-4">
    <mat-form-field appearance="outline" class="w-100 my-2 d-flex">
      <mat-label>{{ field.displayName }}</mat-label>
      <input
        matInput
        [id]="field.controlName"
        [type]="field.type"
        [formControlName]="field.controlName"
      />
      <section *ngIf="getValidationStatus(field.controlName)">
        <mat-icon
          [matTooltip]="getValidationMessage(field)"
          matTooltipPosition="right"
          matTooltipClass="mat-custom-tooltip"
        >
          error_outline
        </mat-icon>
      </section>
    </mat-form-field>
  </div>
</section>
