<div class="generic-table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th class="generic-table-header-cell" mat-header-cell *matHeaderCellDef>
        {{ column.displayName }}
      </th>
      <td class="generic-table-content-cell" mat-cell *matCellDef="let row">
        {{ row[column.columnDef] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="generic-table-content-row"
      (click)="enablePopUpActions(row)"
    ></tr>
  </table>

  <app-generic-popup-bar #tableActionsPopup>
    <button
      mat-icon-button
      *ngFor="let action of tableActions"
      [matTooltip]="action.displayName"
      matTooltipPosition="above"
    >
      <mat-icon>{{ action.icon }}</mat-icon>
    </button>
  </app-generic-popup-bar>
</div>
