@use "@angular/material" as mat;
@import "./themes.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  @include mat.tooltip-overrides(
    (
      supporting-text-size: 0.95rem,
    )
  );
}

@mixin gradient-background($deg: 180deg) {
  background: linear-gradient(
    $deg,
    rgba(70, 130, 180, 1) 0%,
    rgba(135, 206, 235, 1) 100%
  );
}
.default-border-radius {
  border-radius: 0.75em !important;
}

.default-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.default-primary-button {
  @extend .default-border-radius;
  @extend .default-box-shadow;
  color: $color-soft-white;
  background-color: $color-teal-blue;
}
.default-secondary-button {
  @extend .default-border-radius;
  @extend .default-box-shadow;
  color: $color-teal-blue;
  background-color: $color-soft-white;
}
.default-disabled-button {
  @extend .default-border-radius;
  @extend .default-box-shadow;
}
.default-icon-size {
  width: 25%;
}

.pointer-cursor {
  cursor: pointer;
}

.mat-mdc-dialog-surface {
  @extend .default-border-radius;
}

.mat-mdc-form-field-infix {
  display: flex;

  mat-icon {
    @extend .pointer-cursor;
    color: $color-error;
  }
}
