@import "./themes.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin gradient-background($deg: 180deg) {
  background: linear-gradient(
    $deg,
    rgba(70, 130, 180, 1) 0%,
    rgba(135, 206, 235, 1) 100%
  );
}
.default-border-radius {
  border-radius: 0.75em !important;
}

.default-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.default-primary-button {
  @extend .default-border-radius;
  @extend .default-box-shadow;
  color: $color-soft-white;
  background-color: $color-teal-blue;
}
.default-secondary-button {
  @extend .default-border-radius;
  @extend .default-box-shadow;
  color: $color-teal-blue;
  background-color: $color-soft-white;
}

.mat-mdc-dialog-surface {
  @extend .default-border-radius;
}

::ng-deep.mat-custom-tooltip {
  font-size: 2rem !important;
}
::ng-deep .mat-tooltip {
  font-size: 2.35rem !important;
}

.mdc-text-field--outlined.mdc-text-field--focused.mdc-text-field--invalid
  .mdc-notched-outline__leading,
.mdc-text-field--outlined.mdc-text-field--focused.mdc-text-field--invalid
  .mdc-notched-outline__notch,
.mdc-text-field--outlined.mdc-text-field--focused.mdc-text-field--invalid
  .mdc-notched-outline__trailing {
  mat-label {
    color: $color-error !important;
    font-size: 1.35rem;
  }
  border-color: $color-error !important;
}

.mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid)
  .mdc-notched-outline__leading,
.mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid)
  .mdc-notched-outline__notch,
.mdc-text-field--outlined.mdc-text-field--focused:not(.mdc-text-field--invalid)
  .mdc-notched-outline__trailing {
  mat-label {
    color: $color-teal-blue !important;
    font-size: 1.35rem;
  }
  border-color: $color-teal-blue !important;
}

.mat-mdc-form-field-infix {
  display: flex;

  mat-icon {
    color: $color-error;
  }
}
