
$color-soft-gray: #f1f2f6;
$color-soft-white: #f8f9fa;
$color-silver: #c0c0c0;
$color-sky-blue: #87ceeb;
$color-teal-blue: #4682b4;
$color-navy-blue: #1a2a6c;
$color-midnight-blue: #2c3e50;

.gradient-background {
    background: linear-gradient(180deg, rgba(70,130,180,1) 0%, rgba(135,206,235,1) 100%); }

.default-border-radius {
    border-radius: 0.75em;
}