@use "@angular/material" as mat;
@import "../../../styles.scss";
@import "../../../themes.scss";

section {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: 4;
  mat-spinner {
    @include mat.progress-spinner-overrides(
      (
        active-indicator-color: $color-teal-blue,
      )
    );
    left: 50%;
    top: 50%;
  }
}
