@import "../../../themes.scss";
@import "../../../styles.scss";

.generic-table-container {
  @extend .default-box-shadow;
  @extend .default-border-radius;
  overflow: hidden;
  border: 1px solid $color-soft-gray;

  table {
    table-layout: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    tr.generic-table-content-row-active {
      background-color: $color-soft-gray;
    }

    tr.generic-table-content-row {
      @extend .pointer-cursor;
      &:hover {
        background-color: $color-soft-gray;
      }

      td.generic-table-content-cell {
        word-wrap: break-word;
        width: min-content;
        border-bottom-color: $color-silver;
      }
    }
    th.generic-table-header-cell,
    td.generic-table-content-cell {
      font-size: 1.15em;
      text-align: justify;
      box-sizing: border-box;
      width: fit-content;
      padding: 0 4rem;
      border-bottom-color: $color-silver;
      @media screen and (max-width: 1300px) {
        padding: 0 1.15rem;
      }
    }
  }
}
