<section
  *ngIf="dataSourceState$ | async as dataSourceState"
  class="generic-table-container mat-elevation-z8"
>
  <table
    mat-table
    [dataSource]="dataSourceState.data"
    *ngIf="dataSourceState.hasData"
  >
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef class="generic-table-header-cell">
        {{ column.displayName }}
      </th>
      <td mat-cell *matCellDef="let row" class="generic-table-content-cell">
        {{ row[column.columnDef] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="generic-table-content-row"
      [ngClass]="selectedRow === row ? 'generic-table-content-row-active' : ''"
      (click)="setSelectedRow(row)"
    ></tr>
  </table>

  <ng-container *ngIf="!dataSourceState.hasData && !dataSourceState.error">
    <section class="empty-table-template">
      <svg class="default-icon-size" no-results-icon></svg>
      <h5>No hay registros por mostrar</h5>
      <p>Aún no se han registrado recursos en esta colección.</p>
    </section>
  </ng-container>

  <ng-container *ngIf="!dataSourceState.hasData && dataSourceState.error">
    <section class="empty-table-template">
      <svg class="default-icon-size" load-error-icon></svg>
      <h5>No es posible obtener regisros</h5>
      <p>
        Verifique su conexión a internet y que tenga los permisos necesarios
        para acceder.
      </p>
    </section>
  </ng-container>
</section>
